.nav-tabs .nav-link {
    color: var(--dark-red);
    background-color: var(--white);
    font-weight: 600;
    border: none;
    padding: 12px 20px;
    margin-right: 5px;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid transparent;
}
.nav-tabs .nav-link.active {
    color: var(--white);
    background-color: var(--dark-red);
    border-bottom: 1px solid var(--white);
}
.tab-content {
    padding-block: 0;
    color: var(--dark-red);
}
.principle-item {
    border-left: 1px solid var(--dark-red);
    padding-left: 15px;
    margin-bottom: 15px;
}
.tab-pane {
    padding: 20px;
    background-color: var(--dark-red);
    color: var(--white);
    border-radius: 4px;
}
